@font-face {
  font-family: 'cicle';
  src: url('fonts/Cicle_Shadow-webfont.woff') format('woff');         
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('img/fundo.png');
  background-position: center;
  background-size: cover;
  background-repeat: unset;
}
